[2015-01-18 13:44] amorphius opened #1 "Verbose documentation"
Could you please write more verbose documentation? E.g. I don't understand what method *plugin* does

[2015-01-23 12:08] #1 closed

[2015-02-10 14:40] richardscarrott opened #2 "Is there a way to unapply a plugin?"
Webpack applies many plugins by default e.g.

[code]

I'd like to, for example, use a different `JsonpTemplatePlugin` which handles error callbacks however I'm unable to remove the current one meaning I have to monkey patch the `JsonpTemplatePlugin` class... Is there a better way to achieve this?

[2015-02-10 17:33] sokra commented on #2
Nope.

But the quoted plugins can be disabled with the `target` option.

[2015-02-10 17:41] richardscarrott commented on #2
I did notice that but it looks like it'll error out if an unrecognised target is set...

[2015-02-10 17:45] sokra commented on #2
I think you can provide a function which applies your custom plugins: https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsApply.js#L151

[2015-02-11 10:54] richardscarrott commented on #2
Ah yes, thank you!

[2015-02-11 10:54] #2 closed

[2015-11-05 15:36] arusakov commented on #2
Hi, @sokra

There is no a way to ```plugout``` something after plugin (example for webpack):
[code]
What do you think about adding ```plugout``` method for public API

[2015-11-05 18:17] jclyons opened #8 "Please merge pull request #4 to enable tapable webjar, a sub-dependency of webpack webjar"
PR #4 on webpack/tapable needs to be merged and npm package needs to be re-published, will add repository URL to tapable package.json to support automatic webjar creation. See: http://webjars.org/npm

[2016-02-22 20:20] jescalan opened #10 "Throw inside a function suppressed"
Coming from webpack, but I assume the origin is here in tappable, let me know if this would be better filed elsewhere!

If you add a plugin function and there is an error inside that function which would cause a throw, there is no handling. The callback is simply never called and webpack exits without compiling or throwing an error. A try/catch wrapper around the plugin function when it's invoked

[2016-05-23 08:37] andreypopp opened #11 "Support for promises in async plugin apply strategies"
ES2015 Promise is a standard now and Node.js is shipping with them enabled. With
the proposed (and now closer to being a standard) `async/await` syntax the
support for promises will be even stronger across the ecosystem. Another benefit of
promises is that they make handling errors much easier as user code doesn't need
to propagate `error` argument of callbacks explicitly.

I propose adding suppor

[2016-05-23 08:50] andreypopp commented on #10
Could be solved by #11

[2016-06-13 10:24] chinesedfan commented on #8
Already merged.

[2016-07-10 20:22] jantimon commented on #11
Had to write a custom wrapper for the html-webpack-plugin.
Would really prefer if tappable would offer it directly.

[2016-09-21 04:24] TheLarkInn opened #12 "Migrate to Typescript"
If we wanted to tackle migrating all of webpack to typescript, we would need to start with all of the supporting libs. Especially this one. Stubbing this for implementation down the road.

[2016-09-22 10:51] e-cloud commented on #8
this should be cloase

[2016-10-10 12:59] zhaoshengjun commented on #12
Do you need any help? I am interested in writing typescript. :smiley:

[2016-10-10 13:58] TheLarkInn commented on #12
By all means I'll close this PR and you can take a crack at it.

[2016-10-10 14:43] zhaoshengjun commented on #12
Sorry @TheLarkInn , I didn't see your PR. I thought it's just the discussion phase.

No need to close your PR.

[2016-10-10 14:45] TheLarkInn commented on #12
No it's not a problem at all. Infact there were a few things I was struggling with (that are TS limitations for some of our functions which take a callback as the last argument). If you would like to take some time to investigate converting this over I would love to see this. Also you can use the existing tests to ensure your TS changes are valid when compiled.

[2016-10-16 13:55] zhaoshengjun commented on #12
Hi @TheLarkInn ,

I've been struggling with this in the past few days. Because converting it to typescript without breaking it is rather simple. But make it more extendable is a totally different work. Also I think the callback style is not great for reading/maintaining perspective. Then I realised that the problem is I don't know the expectations.

So what's the purpose of this initiative? Is it

[2016-10-16 15:11] TheLarkInn commented on #12
The main goal for now would be to convert it to Typescript and add types. But in a way in which it would prevent the existing tests and APIs from not breaking.

I agree that this could be more extensible but for now I want to have it in a working state.

[2016-10-18 01:46] zhaoshengjun opened #15 "Auto generate documents with typedoc"
If possible, I will sumbit a PR to use `typedoc` to automatically generate documentation once we have migrated to typescript. Then maybe we can use a github page to host the documents. So people can easily see the apis provided by the lib.

Discussion is more than welcome 👏

[2016-12-05 17:17] #8 closed

[2017-01-11 22:32] chandlerprall opened #22 "Why `copyProperties` in applyPluginsParallelBailResult1 ?"
Trying to understand what's going on in the various pieces of code and can't figure out why `copyProperties` is used in `applyPluginsParallelBailResult1`? What properties are expected to be passed around on the callback?

[2017-01-17 17:10] domfarolino opened #23 "Question: Why using Array.prototype.slice"
I noticed in `lib/Tapable.js` there are several calls to `Array.prototype.slice.call(arguments, ..)` example [here](https://github.com/webpack/tapable/blob/master/lib/Tapable.js#L58). I'm just curious as to why this is done when the `arguments` object is an array, and as such has `slice` in its `[[Prototype]]` chain.

Is it some sort of an optimization? Is a call to `Array.prototype.method.call(..

[2017-01-19 00:45] TheLarkInn commented on #23
Tbh we would love a benchmark system to can hook into the one we just added on webpack/webpack if you could highlight the perf wins we will take a PR for sure

[2017-01-20 17:19] domfarolino commented on #23
Welllll I just discovered that `arguments` inside a function is not really an array. In fact it seems that the only properties `arguments` and `Array.prototype` have in common is `Symbol.iterator` and `length`. `Array.prototype` doesn't even exist in its `[[Prototype]]` chain so the current code is entirely necessary.

<img width="325" alt="screen shot 2017-01-20 at 11 33 02 am" src="https://cloud

[2017-01-20 22:22] domfarolino commented on #22
Wouldn't mind knowing this as well. wondering the same thing actually

[2017-01-20 22:26] chandlerprall commented on #22
I console logged the keys that get copied, the majority are `stack`, `missing`, and `log`. The `copyProperties` function is a huge bottleneck but it doesn't appear to be avoidable without a restructure of Tapable.

[2017-02-10 11:04] vlad-ovsyannikov opened #27 "Cannot read property 'html-webpack-plugin-after-emit' of undefined"
webpack 1.14
node 6.3.1

Cannot read property 'html-webpack-plugin-after-emit' of undefined | at build/product/newbuild/webpack/node_modules/tapable/lib/Tapable.js:75:19) | at Object.tryCatcher build/product/newbuild/webpack/node_modules/bluebird/js/main/util.js:26:23) | at ret (eval at build/product/newbuild/webpack/node_modules/bluebird/js/main/promisify.js:163:12), :13:39) | at build/product/ne

[2017-02-22 03:23] chinesedfan opened #28 "Is args[args.length - 1] faster than args.pop()/push() ?"
I notice that only `applyPluginsParallelBailResult` updates args[args.length - 1] directly. And other methods, like `applyPluginsAsync/applyPluginsAsyncSeriesBailResult/applyPluginsParallel`, pop the last argument first, then push a new one.

Shall we always use the faster one?

[2017-02-28 14:10] domfarolino commented on #28
Maybe make a perf test + PR? That is kind odd, unless I'm missing something

[2017-03-03 07:58] chinesedfan commented on #28
It's easy to understand which one is faster. You can try [this simple perf test](https://jsperf.com/tapable-28) .

[2017-04-23 17:06] guox191 commented on #22
I'm wondering too

[2017-06-13 15:14] pi0 commented on #11
@andreypopp @jantimon You may try [tappable](https://github.com/pi0/tappable) project which adds promise support to tapable 👻

[2017-06-21 17:27] #23 closed

[2017-07-28 08:47] MykhailoMatiiasevych opened #32 "Proper way to remove plugin"
Hi
Seems there is no correct way to remove a plugin. Modifying _plugins directly is definitely not correct since it requires accessing and modifying the private field.
I would appreciate something like
[code]

Would you accept such a PR?

[2017-08-11 07:53] webpack-bot opened #33 "investigate patterns to avoid v8 deopt by borrowing from backbone :D"
instead of function a, function a1, function a2 ... maybe something like this:

https://github.com/jashkenas/backbone/blob/678aeee94d7802967b52ed8a9177620659b825ee/backbone.js#L331-L338

---

This issue was moved from webpack/webpack#5494 by @sokra. Orginal issue was by @samccone.

[2017-08-15 17:34] sokra opened #35 "New major version"
What about a new major version with more performance and more features?

* Never use `arguments`, compile fixed arguments function.
* Create a function per hooks which makes it monomorphic.
* Maybe something magic like ``new Function(`function x(${args}) ...`)``
* Different apply function depending on number of registered plugins
  * no plugins: noop apply for max performance
  * special version t

[2017-08-16 19:41] TheLarkInn commented on #35
@samccone do you think this would help accomplish what we are wanting?

[2017-08-17 00:11] robpalme commented on #35
I'd be interested in hearing the architectural goals you're trying to achieve here.  The list above is mostly actions and is missing rationale.  Hopefully contorting the interface to appease esbench is not the primary driver.

[2017-08-17 11:56] anlexN opened #36 "parseQuery will be replaced with getOptions"
![loader-runner](https://user-images.githubusercontent.com/8686739/29411134-1df8b032-8386-11e7-8c9d-bc76f8a16f78.PNG)

[2017-08-18 14:43] samccone commented on #35
+1 to @robpalme's question.

My only motivation with changes to tappable is as follows

1. remove confusing .apply.apply api
2. make it possible to wrap every hook with timing extractors

[2017-08-24 17:52] sokra commented on #35
This will be removed. Eventually the Tapable base class will be removed, but it will stay for now because of legacy methods.

There will be a `inspect` methods will allows you to decorate each hook call for performance. A name for the plugin is now a required parameter when registering a plugin. You'll receive this name in the `inspect` handler. You can also enumerate all hooks for a class in the

[2017-08-24 17:58] sokra commented on #35
* Performance:
* Easier to use.
* Typescript/Flow friendly.
* Remove some hacks in webpack which are needed because of missing features in tapable.
* Promise support (for plugin authors and webpack)

[2017-09-15 20:38] TheLarkInn commented on #35
@samccone @robpalme
We also just published an article on medium that talks about this more in depth if you need more context.

https://medium.com/webpack/the-new-plugin-system-week-22-23-c24e3b22e95

[2017-09-16 21:17] samccone commented on #35
+1 to the blog post, it hits every API pain point that I ran into and provides a solid approach for the future. I am excited for the new version!

One question that I do have though is what will be the story for people to upgrade? If a plugin is old.. what will be the behavior? Will there be a compat layer to make them work with the new version or will developers have to do the upgrade to see thes

[2017-09-19 07:12] sokra commented on #35
There will be a compat layer. Old plugins should continue to work. Old tapable instances are breaking and need to be changed.

Some features are not available in the compat layer, like naming for plugins.

[2017-09-29 04:01] TheLarkInn commented on #35
@sokra I think this change will open open a larger contribution opportunity once we make this major change for webpack v4+.

Do you think you could outline a few example plugins and how you might convert old to new api so that I can write a few instructional guide examples for contributors to jump in and help with the refactor?

[2017-10-16 14:28] #35 closed

[2017-11-07 05:12] AsJoy opened #40 "is there something missed"
[code]

[2017-12-07 03:11] pigcan commented on #40
AsyncSequencialHook => AsyncSeriesLoopHook
AsyncSequencialBailHook => AsyncSeriesBailHook
AsyncWaterfallHook => AsyncSeriesWaterfallHook

AsyncSeriesLoopHook is missed. And I find the `AsyncSeriesLoopHook` hook have some bugs. Maybe it‘s the reason why it’s not be exported right now.

[2017-12-10 07:44] TheLarkInn opened #42 "Error using interception API with SyncBailHook"
Here is a simple configuration I had while linked up to webpack#next

**webpack.config.js**

[code]

This is the error that threw:

**console output**

[code]

[2017-12-10 07:44] TheLarkInn commented on #42
If I am not using the api correctly, let me know. Was trying to grab all hooks and intercept them.

[2017-12-10 23:27] TheLarkInn commented on #42
For contributors wanting to sniff this out:

The problem lies within this block of code:

https://github.com/webpack/tapable/blob/dbdefddb20a654e1b265577b253c23bbb5578e49/lib/SyncBailHook.js#L59-L73

Either simple logic, or var scoping maybe? Steps should be reproducible even with a simple interceptor for `compiler.hooks.entryOption`

[2017-12-10 23:51] Itrulia commented on #42
Didn't had time yet to actually run it through, but I might have found the issue.

[code]

here you expect that `_intercept[_j].tap(_tap); ` returns an object with a method property of `fn(args) => any`, but the function you declared returned nothing.

[code]

If you can confirm it's not that, I will look in to it if I ever get time :)

[2017-12-11 02:00] TheLarkInn commented on #42
Totally didn't even realize that!! I'll give it a quick spin when I have a chance later and try it!!!!

[2017-12-11 06:49] sokra commented on #42
It should be:

[code]

[2017-12-11 07:14] sokra commented on #40
Yep send a PR to fix the bugs and export the Hook

[2017-12-11 07:19] pigcan commented on #40
OK, @sokra  Later (around this week or next week) I will work on it.

[2017-12-11 07:36] sokra commented on #36
Wrong repo

[2017-12-11 07:36] #36 closed

[2017-12-11 07:36] sokra commented on #22
This was removed in the new major version

[2017-12-11 07:36] #22 closed

[2017-12-11 07:36] #12 closed

[2017-12-11 07:37] #10 closed

[2017-12-11 07:38] sokra commented on #11
new major supports promises

[2017-12-11 07:38] #11 closed

[2017-12-11 07:38] #28 closed

[2017-12-11 07:39] sokra commented on #32
There is no way to remove plugins

[2017-12-11 07:39] #32 closed

[2017-12-11 09:24] Itrulia commented on #42
Ha, that's why I love pair programming :) sometimes you can't see the forrest because of all the trees.

[2017-12-11 09:24] TheLarkInn commented on #42
Just figured that out stepping through it.

@sokra is this needing to return because it's bailing or not?

[2017-12-11 10:04] TheLarkInn commented on #42
Alright I understand the context now. I'm going to PR the readme where it was unclear to me and make it explicit.

If it could happen to me hopefully I won't be the last.

[2017-12-12 08:55] TheLarkInn commented on #42
Closing as was a difference in understanding on my part. Updated docs in merge.

[2017-12-12 08:55] #42 closed

[2017-12-12 10:03] sokra commented on #33
fixed in new major version

[2017-12-12 10:03] #33 closed

[2017-12-12 10:03] sokra commented on #27
wrong repo, old

[2017-12-12 10:03] #27 closed

[2017-12-12 10:05] sokra commented on #40
I've done it.

[2017-12-12 10:05] #40 closed

[2017-12-12 14:00] pigcan commented on #40
@sokra `HookCodeFactory` looks great than before !

[2017-12-19 19:02] TheLarkInn commented on #15
We may not migrate to typescript for this repo (for a variety of reasons), however if you notice #39 we are adding typings (and just finalizing the details). Is typedoc capable for supporting just typings also or no?

[2017-12-24 19:42] colelawrence opened #43 "Typings questions"
I'm currently working on typing the tapable library, and so far it is going well, but I'm running across some differences between the tests and the documentation. It would be great to get some guidance on some of the really obfuscated aspects of the compiler.

So, to start off with, I have just a couple questions:

 1. What is the `Result` type which @sokra documented in the README as the return v

[2017-12-24 20:13] colelawrence commented on #43
One more question:
 3. What is the difference between interfaces between the AsyncHooks and SyncHook instances? Can you use `call()` and `tap()` on async hooks? Then you can use callAsync/promise and tapAsync/tapPromise on either SyncHooks or AsyncHooks?

Also, does it sound like I'm missing something to understand about parallel or series async hooks? Like, does `TapOptions::before` or `TapOption

[2017-12-26 03:00] TheLarkInn commented on #43
cc @sokra, when I also get a chance Cole, I'll also share some details. Thanks for deciding to take this on.

[2018-02-01 16:45] moo3 opened #46 "Is there a way to introduce alias anywhere in the build lifecycle, other than config?"
Some of my module may import a manifest which will have list of libraries that are available to be use for the app. My intent is to create a namespace so that app can assume a pattern to access the imported code.

I am looking to somehow inject alias but after reviewing ResolverFactory looks like AliasPlugin is all registered, for respective alias' and done by the time I get handle to the external

[2018-02-05 10:13] wmertens opened #47 "Do something with hook results"
In my app, I would like to return early if one of the hooks returns some specific value. Would that be possible?

So for example `hook.callUntil({args: [...], condition: result => result.foo})`.

[2018-02-05 12:57] ooflorent commented on #47
You could use a `do/while` loop for that.

[2018-02-07 05:01] skipjack opened #48 "Hook Descriptions"
The documentation on the `next` branch of webpack.js.org now points to this package and it's readme more prominently. In standardizing and updating the new v4 hook documentation, I used this repo's README a lot. I found most of it very helpful, but the actual hook types still feel a bit mysterious.

Now that we note each hook type in the description of each hook, it would be great if users could c

[2018-02-08 18:53] wmertens commented on #47
@oofloren how would that work? There is no way to iterate hook subscribers, is there?

[2018-02-10 21:26] colelawrence commented on #43
@sokra @TheLarkInn I'm sorry to say that I do not think that my initial approach to generating these types did not go so well. I think the number of unions required to support 4+ arguments is either unmanageable by the TypeScript Language Server, or there is some fatal flaw in the approach.

I think the best I can come up with right now, would be to either create a small wrapper around tapable for

[2018-02-10 21:26] #43 closed

[2018-02-12 18:11] TheLarkInn opened #49 "Better technical documentation for API"
Let's try and break up a way to make the new phases and hooks easier to understand.

Public API (for Tapable instance)
Public API for a plugin registered to an instance.

How each hook works
Explanation of evals in code
Description of Interceptors

[2018-02-13 22:04] wmertens opened #50 "Doesn't work with IE11 (ducks for cover)"
I am using this in an SPA and it's really great, but it turns out that the npm version uses `class` in the JS, so it's not ES5.

Would it be possible to provide the npm code as ES5 code? I don't know what the current best way to provide ES6 code is, but this is the only package that causes problems in the build for our IE users.

In the meantime I'll try some workaround like forcing a babel compil

[2018-03-03 08:47] Genuifx opened #52 "Mulity plugins doesn't work with AsyncSeriesHook or AsyncParallelHook"
I have two async task plugin, and well apply to the compiler, but now time only the last applied plugin works.

which hook should I use, and why not write some detail document for each hook?

tks

[2018-03-12 09:42] jagomf opened #53 "TS errors"
I'm getting these errors upon building my project:

[code]

[2018-03-12 11:19] natablbt commented on #53
I have the same issue.
The same code was ok last friday.

[2018-03-12 18:21] dmarvasti commented on #53
Same issue on this end....

[2018-03-13 02:01] MaggieAHewitt commented on #53
Same issue w/ Node v9.5.0

[2018-03-13 03:23] Brunoon commented on #53
I change '@type/webpack' to '^3.0.0' and it works.
But the Type definitions for tapable becomes v0.2.5...

[2018-03-13 19:36] jesion commented on #53
[code]

solves this issue if you don't want to mess around with Webpack version.

[2018-03-15 01:24] nhsiehgit opened #54 "More TS Errors"
Possibly related to: https://github.com/webpack/tapable/issues/53

This afternoon started getting a ton of errors from webpack.
Included the @types/tapable types and now i'm getting more errors still

[code]

[2018-03-15 11:43] BertrandFritsch commented on #54
@nhsiehgit Please refer to this [comment](https://github.com/webpack/webpack/issues/6746#issuecomment-372970987) for a workaround

[2018-03-15 16:56] #54 closed

[2018-03-20 11:35] mobilutz opened #56 "Tapable.plugin deprecation"
I updated webpack on my application and have these deprecation warnings now in my app:
[code]

I did find out, that this package raises them, but couldn't find where they originated, meaning which other package might use Tapable wrong.

Can you give me some hints how I can best trace the packages down?

[2018-03-20 15:00] ooflorent commented on #56
Add `process.traceDeprecation = true` to your webpack config to see the full stack trace.
You could also pass a flag to node:

[code]

[2018-03-20 15:02] ooflorent commented on #50
I don't understand, are you shipping `tapable` into your bundle? `tapable` is just an utility used within webpack and its loaders/plugins. Could you detail what you are trying to achieve?

[2018-03-20 15:06] wmertens commented on #50
Yes, I'm using it client-side to have a pluggable framework. It works great
for that…

On Tue, Mar 20, 2018 at 4:02 PM Florent Cailhol <notifications@github.com>
wrote:

[2018-03-20 15:08] ooflorent commented on #47
Sorry, the notification got lost!

[code]

We use a similar technique in webpack:

https://github.com/webpack/webpack/blob/3024078e1e8ec3df00020acad2e2de8b199b27fc/lib/Compilation.js#L828-L834

[2018-03-20 15:10] ooflorent commented on #50
Since the library is targeting node 6+, I don't think we would transpile it. Your best option is to include it into your `babel-loader` (instead of `exclude: /node_modules/`).

[2018-03-20 15:11] wmertens commented on #50
Yes, I'm whitelisting it now. Fair enough, thanks!

[2018-03-20 15:11] #50 closed

[2018-03-20 15:17] wmertens commented on #47
No, that calls *all* subscribers. The idea is to stop after the first subscriber that returns something specific.

is that what `callTapsSeries` does, can that be called directly?

[2018-03-20 15:18] wmertens opened #57 "Call in reverse"
Is there a way to call all taps of a hook in reverse?

[2018-03-20 16:01] ooflorent commented on #57
You could try using an interceptor to add `before` to insert the hooks in the reverse order but the best option is to create your own hook type.

[2018-03-20 16:06] mobilutz commented on #56
👍  Thank you very much for the hint.
I also found the problematic package.

[2018-03-20 16:06] #56 closed

[2018-03-20 16:09] ooflorent commented on #47
I think all `call*` methods are private APIs. They are designed to be called by the code factory. Not user-land code.

[2018-03-20 17:08] wmertens commented on #57
Oh of course, that's a good idea, it would also help solve #47.

Would you accept a PR for this?

[2018-03-21 21:44] lukiffer commented on #53
This appears to be a result of `@types/webpack` aggressively getting `@types/tapable` latest version 1.0.0.

From `@types/webpack` (2.2.16) package.json:

[code]

Which would resolve to semver **1.0.0** according to the [list of releases](https://www.npmjs.com/package/@types/tapable?activeTab=versions), but as noted above, the "compatible" working version is **0.2.5** When specifying 0.2.5 manuall

[2018-03-22 06:35] tirthbodawala opened #58 "Documentation"
Can you please provide a link to documentation of the library? I know it is mostly used for WebPack internals (Compilers) but I would like to use it for a personal project.
Pardon but my English is not helping me understand different hooks like
`AsyncParallelBailHook`  and their purpose.

A simple explanation and example of each type of hook would be a great help.

[2018-03-22 06:52] tirthbodawala commented on #58
#49

[2018-03-22 06:52] #58 closed

[2018-03-22 06:53] tirthbodawala commented on #49
@TheLarkInn Do we have a date for this or any reference material after the issue was created?

[2018-03-29 22:38] Hoten commented on #43
@colelawrence , your wrapper idea is working great for my project. Thanks for sharing it!

[2018-04-04 23:07] shallus commented on #53
following up on @jesion
`npm install @types/tapable@0.2.5`
fixes the issue

[2018-04-08 20:08] EECOLOR commented on #48
Yeah, and this is even more important than previously because the code (while more efficient) is very hard to understand.

What I would want to know is what the result of `call`, `callAsync` and `promise` is. It seems that for bail the first hooks result is returned. And that waterfall uses the result from the previous hook as the argument for the next.

[2018-04-27 01:50] geminiyellow opened #59 "Error: Cannot find module 'upath'"
when i upgrade my node version to `10.0.0`, boom ↓

any idea?

**ENV**

[code]

**DETAIL**

[code]

[2018-05-27 10:50] simbathesailor opened #62 "Query regarding coding paradigm used in this library."
Why in the code string concatenation is used to create the function? I can see, this approach is being followed in almost every file. Why shouldn't it be written as a normal function? For example like this in HookCodeFactory .

`switch(this.options.type) {
			case "sync":
				return new Function(this.args(), "\"use strict\";\n" + this.header() + this.content({
					onError: err => `throw ${err};\n

[2018-05-28 13:29] ooflorent commented on #62
Correct me if I'm wrong but you are wondering why some closures are defined using `Function` and string concatenations instead of a plain function declaration or expression, right?

Well, this is for optimisation purpose. Defining functions using `Function` constructor is expensive. However, the code generated by `tapable` is monomorphic and is crafted to be executed really fast.

[2018-05-28 16:49] anil26 commented on #62
@ooflorent First of all thanks for replying . Well You are correct . I am asking the same.  I am still not getting any idea, why using Function constructor is expensive.  I can read following lines on mdn

May be I am thinking other way. Could you please elaborate ?

[2018-05-29 06:29] ooflorent commented on #62
Sure! Let's consider the following functions; they are really simple hook factory implementations:

[code]

Both functions achieve the same thing but `g` is more specific. While `f` accepts any number of callbacks and applies any number of arguments on them, `g` takes 3 callbacks and calls them using 2 arguments. Because `g` is specialised for this use case, it will perform much better than `f`.

[2018-05-29 17:14] anil26 commented on #62
Oh Now I understand, basically the code which is returned is dynamic. so depending on varying number of arguments and other parameters, new functions is being created and returned. In this way, the code length will be dynamic and saves the code length in most cases.

Thanks, @ooflorent. Actually going through webpack code to learn and contribute. You can close the issue !!

[2018-06-08 05:47] buronnie opened #65 "SyncHook vs AsyncSeriesHook"
I still have a hard time to understand the difference between these two hooks. If I understand correctly,  both are invoking tapped functions sequentially. SyncHook is like a for-loop to call functions one after another, while AsyncSeriesHook uses nested `callback` to trigger the next function call. It would be really helpful to compare different types of hooks and their use-cases in the documenta

[2018-06-09 03:54] lili21 commented on #49
any updates? really hard to figure out the different between each hook.

[2018-06-09 17:46] #65 closed

[2018-06-23 03:41] coopr opened #66 "Please add a LICENSE"
and thanks!

[2018-07-01 17:46] naterkane commented on #66
There already is a license. Please see https://github.com/webpack/tapable/blob/master/package.json#L6

[2018-08-09 00:27] coopr commented on #66
Ideally there would be a LICENSE file, so that https://developer.github.com/v3/licenses/ worked. Automated processes to comply with your license requirements depends on Github's API being able to find and return license information. The way the license is currently mentioned breaks Github's License API.

[2018-08-10 13:12] opichals commented on #66
@naterkane It is not enough for MIT license to refer to it just by its name. See the #70 description.

[2018-08-26 13:28] shsssskn commented on #59
@geminiyellow

maybe https://github.com/airbnb/enzyme/issues/1637#issuecomment-397327562

[2018-08-27 14:24] nclsndr opened #71 "Playing around with tapable [questions]"
Hello there,

I'm playing around with tapable outside of the Webpack world.

Basically, I'd like to use the async super-powers of tapable to expose hooks from a class method.

[code]

Here everything is working perfectly, so questions:

1. Is tapable can/should be used for this type of implementation?
2. Whatever I tried it's not possible to remove a hook previously set up, I imagine there is a ra

[2018-08-28 01:33] guoshencheng opened #72 "Any test for this lib?"
do you have plan to add some test to this lib?

[2018-09-04 17:10] borela commented on #72
https://github.com/webpack/tapable/tree/master/lib/__tests__

[2018-09-05 01:39] #72 closed

[2018-09-07 09:17] ooflorent commented on #71
The goal of tapable is to **compile** the callbacks to make their execution monomorphic (and fast). This is why all callbacks must be added **before** firing the event and cannot be removed (so there is no other compilation).

Being able to identify _who_ added the callback.

Well, it could be but it is not optimal. Tapable is designed to create static hooks. Maybe async iterators would b a better

[2018-09-10 12:11] nclsndr commented on #71
Thx you @ooflorent for your answer.
For sure using Tapable for this case wasn't the best idea, it made me learn at least 👍

I'm curious about this, does anyone know where this is implemented in this repo?

That's exactly the solution I end with. I rebuilt a very simple cascading async stack to reproduce the expected behavior.

[2018-09-10 12:13] ooflorent commented on #71
https://github.com/webpack/tapable/blob/master/lib/HookCodeFactory.js

[2018-09-12 10:43] sokra commented on #59
Not related to this library

[2018-09-12 10:43] #59 closed

[2018-09-17 19:22] jedwards1211 opened #75 "Feature request: method to remove a tap"
(I may make a PR for this eventually)
I know that `tapable` is mainly intended for plugins that are registered once at startup.  But this is the first package I turn to when I need something more powerful than an `EventEmitter`, since I can't do anything like an `AsyncSeriesHook` with `EventEmitter`.  Overall it's a pretty good general-purpose replacement.
However, one thing `EventEmitter` can do

[2018-09-18 09:59] ooflorent commented on #75
Have you read this issue #71? One of the goal of tapable is to compile a static event emitter: callbacks are added to the hook and then the hook is _called_. If you add/remove callbacks, the hook must be compiled again and V8 has to reoptimize it.

I don't know what your use-case is but maybe [`async`](https://github.com/caolan/async) would be a better choice.

[2018-09-18 14:55] jedwards1211 commented on #75
Yeah that's a good point, I had forgotten about that aspect of Tapable.  It's not that hard for me to
[code]
I just was looking for a preexisting class that manages the listener list itself.
So I guess I'll just write my own class to do it.
Thanks!

[2018-09-18 14:55] #75 closed

[2018-09-19 15:22] #71 closed, assigned to nobody

[2018-09-25 09:13] #52 closed

[2018-10-16 22:43] spectejb opened #76 "Can you confirm that the license for v1.0 is also MIT?"
- The master branch is MIT (https://github.com/webpack/tapable/blob/master/LICENSE)
- v1.1 is MIT (https://github.com/webpack/tapable/blob/v1.1.0/LICENSE)

For some reason, v1.0 goes to "page not found" (https://github.com/webpack/tapable/tree/v1.0.0/LICENSE)

[2018-10-16 23:39] newyork-anthonyng commented on #76
The `LICENSE` file wasn't added until `v1.1.0`. But the `package.json` in `v1.0.0` does show `MIT` in its license field.

https://github.com/webpack/tapable/blob/v1.0.0/package.json#L6

[2018-10-20 01:56] warjiang opened #78 "problem about tap method of interceptor"
recently i try to use interceptor of tapable, in the  Interception section of readme:

it means if i use a intecptor of tap method, when a plugin taps into a hook, the corresponding function will be invoked. However, the following code snippet does not work as expected.

code snippet:
[code]
tap of interceptor only be called when it  execute `hook.call('webpack')`.

version of tapable: 1.1.0

[2018-10-21 20:59] newyork-anthonyng commented on #78
I looked through the code. When a hook is triggered, `interceptor.call` and `interceptor.tap` are both called. It seems the only difference is that `interceptor.call` is called with the `arguments` that you used when calling your hook, and `interceptor.tap` is called with the `Tapable` object.

For example:
[code]

@ooflorent Is this correct? If so, I could update the docs to make this more clear.

[2018-10-22 03:28] warjiang commented on #78
thanks for your reply，from the implementation of tapable, what u described is true. **And what makes me confused are the docs.**
when the developer use `intercept` api , the `interceptor` will be saved as the last element of interceptors which is a property of  hook object. And when the developer call the hook,  tapable will generate function string according to the context,  then return function

[2018-10-22 05:38] warjiang commented on #78
first thanks for your reply,  i am agree with what you described above. `Tapable` will generate function until you trigger the hook。the example you mentioned will generate a anonymous function like so:

[code]
from the anonymous generated above, we can see that the `interceptor.call` and `interceptor.tap` will be invoked when the hook be triggered, the difference is that `interceptor.call` accept

[2018-10-22 05:42] warjiang commented on #78
first thanks for your reply,  i am agree with what you described above. `Tapable` will generate function until you trigger the hook。the example you mentioned will generate a anonymous function like so:

[code]
from the anonymous generated above, we can see that the `interceptor.call` and `interceptor.tap` will be invoked when the hook be triggered, the difference is that `interceptor.call` accept

[2018-10-26 03:16] hipstersmoothie commented on #57
@ooflorent would this be something you would be open to a PR for?

would this be okay:

[code]

[2018-10-26 07:37] ooflorent commented on #57
@hipstersmoothie Not sure. IMHO it's better to create a custom hook that fits to your needs.

[2018-11-02 09:06] ooflorent commented on #62
Here is a good explanation: [What's up with monomorphism?](https://mrale.ph/blog/2015/01/11/whats-up-with-monomorphism.html)

[2018-11-02 09:44] buoyantair commented on #62
Thanks!

[2018-11-27 09:03] sokra commented on #76
yep it's MIT

[2018-11-27 09:04] #76 closed

[2018-11-27 09:05] sokra commented on #47
The `Bail` hooks stop after the first plugin that returns something.

[2018-11-27 15:57] wmertens commented on #47
@sokra 	but that still doesn't allow checking for a specific value, and there's no way to wrap the hooks…

[2018-12-17 13:45] Kinrany commented on #12
Typescript's types improved a lot in the past two years. Any plans to reopen this issue?

[2018-12-17 13:57] evilebottnawi commented on #12
@Kinrany no, we use pure javascript for better maintenance projects, somebody can use `flow`, somebody `typescript`, somebody other, we use `typescript` comments for check types

[2018-12-17 15:42] cspotcode opened #86 "Way to tap before other taps? Are `stage` and `before` options supported?"
We're thinking about using tapable as a replacement for typedoc's internal eventing stuff.  Is there a way to `tap` a hook before other already-registered taps?  I see Hook options `before` and `stage`.  Are they supported, or will they go away when v2 is released?  If we start using tapable, should we use the v2 beta or stick to v1?

Thanks for any insight you can offer.  Let me know if I should

[2018-12-17 15:50] ooflorent commented on #86
`before` and `stage` are safe to use. We do not intent to deprecate or remove them.

However, before using `tapable`, **please make sure you understand the library limitations**. `tapable` is designed to produce _static event dispatchers_ (hooks). Which means that you must subscribe (`tap`) and then fire the event (`call`).

- You cannot unregister a listener
- You should add **all** the listeners

[2018-12-17 15:52] ooflorent commented on #53
You can use `@types/tapable` or `tapable@2` (when available) to solve the type issues.

[2018-12-17 15:52] #53 closed

[2018-12-17 15:52] #62 closed

[2018-12-17 15:55] cspotcode commented on #86
Thank you for clarifying, that's good to know.  I think it should work for us; we want to support a composable, pluggable architecture, very similar to webpack.

The dispatchers are static because it's faster, right?

[2018-12-17 16:23] ooflorent commented on #86
That's debatable but yes. A compiled hook should be faster than a polymorphic function. There are 2 ways to compile a hook:

- call `call*` (which call `compile`)
- call `compile`

If you look at execution times, the time spent in `compile` + `call` + the handlers will probably be bigger than a traditional event emitter. But if you compile your hooks upfront, then the handlers should be faster.

U

[2018-12-17 17:06] sokra commented on #86
We always preferred `stage` over `before`. I found it easier to work with.

[2018-12-17 17:12] cspotcode commented on #86
Is there documentation or an example of using `stage`?  I'm having trouble understanding how to use it, and neither type declarations have JSDoc comments to explain.

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/tapable/index.d.ts#L244
https://github.com/webpack/tapable/blob/master/tapable.d.ts#L30

[2018-12-17 17:18] sokra commented on #86
It's a number, Taps with lower number execute before Taps with higher number. Taps with equal stage execute in order of attaching.

[2018-12-17 17:31] cspotcode commented on #86
Very cool, I can declare multiple stages of a hook using a numeric enumeration, and then plugins can tap into any stage by name.

Thanks for all the information; this is very helpful.

[2018-12-17 17:31] #86 closed

[2019-02-26 15:57] aciccarello commented on #15
@TheLarkInn TypeDoc should be able to document from typings. Let me know if you would like any help with this.

FYI, as a maintainer of typedoc, I'm looking into whether tapable would be helpful for our plugin system.

[2019-03-19 04:23] yanche opened #90 "Just curious why do "new Function(code)" ?"
Hey I was looking at the source today just curious why it constructs code from taps in string then do "new Function".
Is it about perf ? How much it wins over plain code ?

[2019-03-19 08:00] newyork-anthonyng commented on #90
@yanche Does #62 answer your question?

[2019-03-19 09:48] evilebottnawi commented on #90
Yep, answer above

[2019-03-19 09:48] #90 closed

[2019-03-20 00:11] yanche commented on #90
Yup I think it does. thanks @newyork-anthonyng 👍

[2019-03-26 20:59] zzs1020 opened #91 "tapPromise doesn't return my resolved value"
Hi, there,

Thanks for the awesome jobs. I encountered an issue while trying to use tapPromise. I'm using version 1.1.1

if I use my defined plugin this way:
[code]
with
[code]
res is not returned by tapPromise.

But if I change my code to following;
[code]
with
[code]
I still can't get res of course, but with this workaround, I can at least get what I wanted. I saw this is also the way noted on y

[2019-03-26 21:11] evilebottnawi commented on #91
Feel free to send a PR with fix

[2019-03-28 16:41] zzs1020 commented on #91
my bad, I just realized that I should use **AsyncSeriesWaterfallHook** and **SyncWaterfallHook** for async hooks and sync hooks if I want tapPromise and tap **return values**!

[2019-03-28 16:41] #91 closed

[2019-04-08 23:15] givanse opened #94 "Where do I find docs on how to upgrade a plugin to the new API on `.hooks`?"
Search results only show answers for:

As a plugin ~author~ heir, where do I find docs on the upgrade process?

[2019-04-09 10:08] evilebottnawi commented on #94
@givanse please open this issue in `webpack-docs` repo, thanks

[2019-04-09 10:08] #94 closed

[2019-04-09 19:56] givanse commented on #94
moved to: https://github.com/webpack/webpack.js.org/issues/2926

[2019-04-22 12:22] LeeeeeeM opened #97 "AsyncParallelHook seems not fit as promise"
[code]

the runtime variable ```count``` is not injected in callback, is it correct?

[2019-04-22 12:38] #97 closed

[2019-05-21 06:42] haihuo0910 commented on #59
你怎么解决的？

[2019-05-21 06:42] haihuo0910 commented on #59
我也遇到同样的问题了

[2019-05-31 06:10] MoonYaph commented on #47
@wmertens you can use bail hook if the the value is just what you need, just return it.

[2019-05-31 07:21] wmertens commented on #47
@MoonYaph that would require wrapping all the subscribers to a hook and there's no way to do that.

[2019-09-12 08:54] wangzongxu opened #109 "Can we remove tap from hook？"
[code]

[2019-09-13 07:07] wangzongxu commented on #109
Because I using it in my Vue  Component,
When I need to notify multiple components，
I need to add a tap when each component is mounted，
and need to remove a tap when each component is destroyed，

But I can't find anything as good as tapable for handling the flow of events.

I wanted to submit PR, but the 'lib/ hookcodefactory.js' file seemed too hard to understand.

[2019-09-13 14:06] montogeek commented on #109
How are you using this with Vue components?

[2019-09-14 03:42] wangzongxu commented on #109
[code]

[2019-09-20 14:42] erasermeng commented on #109
https://github.com/webpack/tapable/issues/71#issuecomment-419377713

@wangzongxu

[2019-09-27 06:52] sokra commented on #109
Due to internal optimizations done which depends on the taps called, it would be very inefficient to remove plugins. Therefore it it's not in the API. Avoid removing plugins.

Note that tapable is optimized for a call flow like: 1. attach to hooks, 2. call hooks at lot.
It's not an general purpose event emitter.

You could still handle your use case this way:

[code]

[2019-10-08 12:46] wujekbogdan opened #110 "has no exported member 'Tapable'. error appears when trying to build a TypeScript project"
I'm getting the following errors when trying to build a TypeScript project:

[code]

I tried:
- Different node versions (8, 10, 12)
- Updating all depdnencies/devDependencies
- installing `@types/tapable` with `yarn addd @types/tapable --dev`

I'm not using `tabable` explicitly, it's a dependency of one of my dependencies.

---
The weird thing is that the project I'm trying to build used to work f

[2019-10-08 13:01] evilebottnawi commented on #110
You don't need `@types/tapable`, we export types https://github.com/webpack/tapable/blob/master/tapable.d.ts

[2019-10-08 13:34] wujekbogdan commented on #110
I installed it only as a workaround because I found a similar issue: https://github.com/webpack/tapable/issues/53

But this workaround doesn't work in my case.

[2019-10-28 00:09] tzs007 opened #111 "Error: Plugin could not be registered at 'html-webpack-plugin-alter-asset-tags'. Hook was not found."
Hello,

Unfortunately, I cannot build my react project because of this error. I'm puzzled, because it's a dependency of webpack, so I can't change or fixed that error.

I tried with 8.16.0 and 10.16.0 node, reinstalled node_modules with yarn an npm, but I got same error.

It's so urgent, because I must hand the project over to my client in this week.

Thank you!

[code]

[2019-10-28 10:41] evilebottnawi commented on #111
Please report issue in `html-webpack-plugin-alter-asset-tags`, thanks

[2019-10-28 10:41] #111 closed

[2019-11-01 19:48] maximandrews commented on #10
I got some issues with silent crash on thrown error too.

`webpack@4.41.2`

Repo to reproduce: https://github.com/maximandrews/tapableThrownErrorIssue

[2019-11-01 19:49] maximandrews commented on #10
Should I submit new issue?

[2019-11-05 03:38] Xia-Ao opened #112 "Why use tapable instead of EventEmitter in webpack？"
Why use tapable instead of EventEmitter in webpack？

[2019-11-05 08:52] #112 closed

[2019-11-07 21:50] dmitriyaa opened #113 "I am curious what is the point of these lines?"
https://github.com/webpack/tapable/blob/ffc660840d2814b00a3e5e00cecb09519136bd37/lib/Hook.js#L41

[code]
I am not very good at OOP and don't know its patterns, but it looks a bit redundant for me.

[2019-11-14 09:58] milottit commented on #113
It is apparently

[2019-11-14 09:59] milottit opened #114 "Why HookCodeFactory generated code?"
Please, could you explain why HookCodeFactory is generating code?

[2019-11-14 10:07] evilebottnawi commented on #114
Why should he not do this? Can you tell me why you are using this module, since it is for internal use in webpack?

[2019-11-28 03:35] LKTPD commented on #53
try to add `process.traceDeprecation = true;` in `webpack.config.js`

ref: [https://mutter.monotalk.xyz/posts/c5611095ba5bd8d824b3a76359650141](https://mutter.monotalk.xyz/posts/c5611095ba5bd8d824b3a76359650141)
[https://stackoverflow.com/questions/42918250/process-tracedeprecation-not-working-in-webpack-config](https://stackoverflow.com/questions/42918250/process-tracedeprecation-not-working-in-w

[2019-11-28 16:31] akashishu777 opened #115 "TypeError: Class constructor HookCodeFactory cannot be invoked without 'new'"
E:\BuildAgent\work\83d9728970ba3129\node_modules\tapable\lib\SyncWaterfallHook.js:24});
TypeError: Class constructor HookCodeFactory cannot be invoked without 'new'
at new SyncWaterfallHookCodeFactory

I am usign webapck version : "webpack": "~4.25.1"

[2019-11-28 18:19] akashishu777 commented on #115
@sokra can you please look into this once?

[2019-11-29 09:41] evilebottnawi commented on #115
@akashishu777 can you create minimum reproducible test repo?

[2019-12-16 10:21] sokra commented on #110
You are using types from https://github.com/DefinitelyTyped/DefinitelyTyped
report issues with these types there.

[2019-12-16 10:21] sokra commented on #110
@types/webpack seem to conflict with @types/tapable

probably you have mismatching versions of these

[2019-12-16 10:23] sokra commented on #113
These lines are important for performance reasons. We later reassign these properties. To avoid keeping the v8 Hidden Map from changing during the lifecycle of the class we assign these properties in the constructor to initialize the Hidden Map correctly.

[2019-12-16 10:25] sokra commented on #114
It is generating code to create a function which is calling all attached plugins. The function depends on the number and type of the plugins. By creating a custom function the v8 is able to inline calls to plugins into the monomorphic callsides. This would not be possible when looping over an array of plugins (which creates polymorphic callsides).

[2019-12-16 10:27] sokra commented on #115
You probably forgot the `new` in front of the `SyncWaterfallHook` as noted in the error message

[2019-12-16 10:35] dmitriyaa commented on #113
Oh, makes sense now, thanks for the clarification!

[2019-12-16 10:35] #113 closed

[2019-12-16 10:50] evilebottnawi commented on #115
Closing due to inactivity. Answer above.

[2019-12-16 10:50] #115 closed

[2019-12-16 10:51] evilebottnawi commented on #114
Answer above

[2019-12-16 10:51] #114 closed

[2019-12-16 13:01] MarcusWolschon commented on #111
So is there an issue in that other project yet?
Could anyone link it here for people to navigate to the correct ticket?

[2019-12-16 15:22] ryanelian opened #116 "TypeScript Type Error: Type 'void' is not assignable to type '{ normalModuleFactory: NormalModuleFactory; }'."
I am attempting to migrate my tool from Webpack 4 to Webpack 5,

this is my code:

[code]

However, I received an compile / type error like this:

[code]

Has the tapable API changed? For some reason the tap function expects the 2nd argument to be a function which returns an object:

![image](https://user-images.githubusercontent.com/8892187/70919207-05ce4500-2053-11ea-9fc7-5a849600cb5e.png)

[2019-12-20 13:53] sokra commented on #116
try to upgrade your typescript version

[2019-12-22 09:39] ryanelian commented on #116
[code]

[code]

Upgraded TypeScript version to the very latest, issue still persist...

[code]

[2020-01-02 23:27] Hypercubed commented on #109
@sokra Actually this is a real shame.  tapable has a great API that's useful outside webpack.  Lacking the ability to remove a tap really diminishes it's value.

[2020-02-14 11:37] lzxue opened #119 "arrow function in string can't transpile"
https://github.com/webpack/tapable/blob/747a66766f8be92eead47f312f39dc84c00ff054/lib/HookCodeFactory.js#L58

I need use this lib for IE 11, but some Arrow function in string  can't  transpile by  babel


[2020-02-14 11:43] evilebottnawi commented on #119
What is use case?

[2020-02-14 12:19] lzxue commented on #119
https://github.com/antvis/L7/blob/master/packages/layers/src/core/BaseLayer.ts#L77

i use in  a visualization project

[2020-02-14 12:32] evilebottnawi commented on #119
I think it is impossible, it is internal module for webpack

[2020-02-14 12:49] lzxue commented on #119
This design pattern is suitable for data management and component expansion，so can you solve this problem?  I will be very grateful to you.

[2020-03-05 08:46] sokra commented on #119
It's only used like 5 times in the generated code, so feel free to send a PR.

but make sure to only change the generated code, do not change all arrow function in this lib. This can be handled by transpilation.

[2020-03-11 09:24] lzxue commented on #119
I tried to change the arrow function to a normal function, but it has scope problems. So I developed a new library instead of tapable in L7

[2020-03-11 09:24] #119 closed

[2020-03-25 10:03] zhangwilling commented on #116
this may cause by @types/webpack

the type of `compiler.hooks.compilation` is `compilation: SyncHook<Compilation, { normalModuleFactory: NormalModuleFactory }>;`

[2020-04-16 04:58] wood1986 opened #121 "Always referencing the old value in the tap callback"
I am not sure if it is a bug or my JavaScript knowledge. I am trying to build a webpack plugin and everything works fine except in the watch scenario. If there is a change `chunks` and `assets` will get updated. But inside the`parser.hooks.expressionAnyMember.for`, the `chunks` and `assets` do not have the latest value.

Here is the source
[code]

Here are the log message sequence
[code]

[2020-04-20 15:59] Telokis commented on #47
@wmertens Hi!

Did you manage to find a solution to this issue?
I'd like to do the same thing, as well.

[2020-04-22 14:38] wmertens commented on #47
@Telokis I ended up rewriting it with a similar API but without all the browser optimizations.

https://github.com/StratoKit/strato-runner/blob/new-new-config/packages/launcher/src/tapable.js

[2020-05-20 06:18] wind4gis opened #123 "Does AsyncSeriesBailHook support tapPromise?"
In my app, I want to use AsyncSeriesBailHook to do some conditional code, like do code A, when there is some err running code A, do code B...
because it 's a async code , so I use promise.. but it seems like that , the AsyncSeriesBailHook do not support tapPromise, it do not execute the code B

[2020-05-22 02:07] #123 closed

[2020-07-09 19:15] Hongbo-Miao commented on #111
Hmm, got same error, and cannot find a solution...

[code]

[2020-07-09 19:53] Hongbo-Miao commented on #111
Got same error, there two might help future people.

- https://github.com/jantimon/html-webpack-plugin/issues/875
- https://github.com/webpack/webpack/issues/6481

In my case, it was caused by an old plugin `html-webpack-inline-chunk-plugin` which does not support Webpack 4. Once removing it, the error is gone.

[2020-07-21 01:03] Monine opened #128 "AsyncSeriesHook exiting early when plugin has return value"
[code]

[2020-08-01 00:55] nshimiye opened #130 "AsyncParallelBailHook keeps executing even after one of the tapped functions has produced a defined value"
Consider this example
[code]

Expected (hook is expected to use value from the third tap)
[code]

Actual (hook uses value from second tap instead)
[code]

[2020-08-01 01:58] nshimiye commented on #130
I have proactively looked and proposed [a change](https://github.com/webpack/tapable/pull/132 ) that would fix the above issue, if you guys think it is an issue!

[2020-08-01 13:07] sokra commented on #130
This is working as expected. It's not a race, it returns the first defined value **by plugin order**. This way the behavior is always deterministic and independent of timing.

[2020-08-02 01:12] nshimiye commented on #130
I see, thx for clarification @sokra !
Would it be possible to point me to doc/reference that explain more about the **plugin order**
I think that will help me figure out how to use tapable for my use-case

[2020-08-12 07:45] Mr-jiangzhiguo opened #133 "Why use _call and call in Hook class?"
![image](https://user-images.githubusercontent.com/22312092/89988519-3cc42b80-dcb2-11ea-9c2b-ca0a23ff9425.png)

I cannot understand why use two methods _call and call, and could remove _call、_callAsync and _promise?

Who can tell me why?

[2020-08-12 08:54] Mr-jiangzhiguo commented on #133
I guess with `_*` methods is the initial value, when need reset, it will assignment to without `_` methods

[2020-08-12 10:16] evilebottnawi commented on #133
For architecture reasons? Please read code and look at logic, https://github.com/webpack/tapable/blob/master/lib/Hook.js#L130, keep them between compilations

[2020-08-12 10:16] #133 closed

[2020-09-12 14:59] iendeavor opened #135 "Re-order taps after tap function is called to guarantee old taps are in correct order"
Suppose we have two plugins to be tapped:

[code]

Actual: taps are `[{ name: 'b', ... }, { name: 'a', ... }]`.
Expected: taps should be `[{ name: 'a', ...}, { name: 'b', ... }]`.

[2020-09-12 15:05] evilebottnawi commented on #135
You need tap `b` before tapping `a`

[2020-09-14 06:39] sokra commented on #135
[code]

Working as expected for me

[2020-09-14 06:40] sokra commented on #128
`callback` has `error` and `result` as arguments.

`cb('plugin2')` this exits with `'plugin2'` as error.

[2020-09-14 06:40] #128 closed

[2020-09-14 12:29] iendeavor commented on #135
Take another example:

[code]

[2020-09-23 02:20] brizer opened #136 "Semantics of factory is correct?"
https://github.com/webpack/tapable/blob/fa54822199203163a13b5bf7e403abc118ce3a87/lib/AsyncSeriesWaterfallHook.js#L27

As far as I can see, a factory is a function to return a instance, for example:

[code]

So `new Facroty` is reasonable？

[2020-09-23 08:04] sokra commented on #136
A factory is an abstract design pattern. One way to implement it is a simple function. Another way is a class with a factory method. There are more.

More general it's about delegating the task of creating an instance to something else.

[2020-09-23 08:41] brizer commented on #136
Thank you.

[2020-09-23 08:41] #136 closed

[2020-09-26 15:02] Zuckjet opened #137 "what is the idea of reassignment a class propery"

[2020-09-26 15:17] #137 closed

[2020-10-08 18:32] jasonk commented on #121
Your hook is returning a function and that function has "closed over" the `c` variable, so calling that function will always return that closed-over value.  See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Closures

[2020-10-08 20:04] sokra commented on #121
Maybe this helps?

[code]

[2020-10-08 21:26] wood1986 commented on #121
I have fixed it by moving `chunks` and `assets` outside of `childCompiler.hooks.compilation.tap`

Thanks

[2020-10-08 21:26] #121 closed

[2020-10-10 02:31] double-chen opened #138 "AsyncParallelBailHook, I use tapAsync/callAsync, it doesn't work as expected"
I wrote test code like this:
[code]

[code]

Do I understand current? once a tap done, the final callback should be call.

[2020-10-10 03:49] double-chen commented on #138
I had fixed this bug and pull request it according to my understanding. I am not sure my understanding is right or not.

[2020-10-11 00:59] sokra commented on #138
The actual behavior looks correct to me.

Note that `bail` doesn't mean bailing based on timing of the hooks (that would be non-deterministic). It does bail based on **order**  of the hooks.

[2020-10-11 03:34] double-chen commented on #138
I see. Thank you very much.

[2020-10-11 03:34] #138 closed

[2020-10-15 11:46] adityashukla74 opened #143 "DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead"
I am trying to upgrade my Webpack 4 to Webpack5. (Earlier it was Webpack2)

On running node --trace-deprecation node_modules/webpack/bin/webpack.js
I get

**(node:30954) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead
    at DecompressPlugin.apply (/Users/adityashukla/projects/userInterface/source-catalog-web/plugins/DecompressPlugin.js:16:18)
    at webpack (/Use

[2020-10-15 11:55] evilebottnawi commented on #143
`compiler.plugin` was deprecated, please read error message and use `compiler.hook.emit`, but you should not use `compiler.hook.emit` hook for assets emiting, please use `compilation.hooks.additionalAssets`, example https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/src/index.js#L393

[2020-10-15 11:55] #143 closed

[2020-10-15 11:55] evilebottnawi commented on #143
You even don't need this plugin, you can use `copy-webpack-plugin` and the `transform` option

[2020-10-26 18:15] ayxos opened #145 "Not compatible with webpack v5"
Looks like a problem with deprecated hooks
[code]

[2020-10-26 18:23] evilebottnawi commented on #145
No, please read the error message, maybe some plugin(s) use old API, you need to open an issue in plugin, but you don't provide more information, so I can'y help, sorry

If you want to found the problem please create reproducible test repo, stack trace don't help

[2020-10-26 18:23] #145 closed

[2020-11-05 01:23] carlosdubus commented on #53
If anyone has wasted an hour on this, this is the only thing that worked for me, add this to your build process to disable typescript check for that file:

`sed -i '1s/^/\/\/ @ts-nocheck\n/' node_modules/@types/webpack/index.d.ts`

[2020-11-08 04:40] Bhavik-Ardeshna commented on #57
Hey how run tapable project in my local machine to test my work ??
I am new to this ?? Plz Help :)

[2020-11-08 11:11] wmertens commented on #57
@Bhavik-Ardeshna I made something like tapable with roughly the same api but simpler: https://github.com/StratoKit/strato-runner/blob/new-new-config/packages/launcher/src/tapable.js

I should put it in a package, give it a different name.

[2020-11-09 08:45] edward32tnt opened #146 "Why hooks constructor can not use arguments like readme.md said"
![image](https://user-images.githubusercontent.com/668204/98518886-f9765a80-22aa-11eb-8bc5-ef0a5d66efea.png)

![image](https://user-images.githubusercontent.com/668204/98518921-06934980-22ab-11eb-89ae-1142914d980b.png)

[2020-12-04 14:00] alexander-akait commented on #116
Yep, but in `@types/webpack`, anyway webpack@5 provide own types, feel free to feedback

[2020-12-04 14:00] #116 closed

[2020-12-08 03:49] gylidian opened #152 "has `hooks.hookName.taps` been not recommanded?"
When I use this property `.taps` with typescript, It will prompt you that the property does not exist

![image](https://user-images.githubusercontent.com/30214981/101437280-c88d5200-394a-11eb-8604-fe15c38eaf4a.png)

In fact, i found this usage in the webpack source code

![image](https://user-images.githubusercontent.com/30214981/101437331-eeb2f200-394a-11eb-9ceb-8d2d096713f8.png)

`tapable.d.ts`:

[2020-12-08 09:36] alexander-akait commented on #152
Feel free to fix types

[2020-12-08 10:20] gylidian commented on #152
@alexander-akait

I just want to make sure whether users are not recommended to use this feature

Okay, i'll make a pr to fix it

[2021-01-06 10:17] dabanlee commented on #109
why don't you use event hub?

[code]

[2021-01-06 12:10] wangzongxu commented on #109
因为当应用变得复杂的时候，tapable覆盖的场景更全面

[2021-01-28 11:31] keifergu commented on #109
need this feature

[2021-02-01 09:44] keifergu commented on #109
@wangzongxu I find a method to remove tap:
[code]

We only need remove the tap from the private variable `taps`.

[2021-02-04 04:38] blazzy commented on #110
Running `yarn why @types/webpack` and `yarn why @types/tapable` might provide you with some insight here. When I ran it I found that `clean-webpack-plugin` was pulling in those dependencies for me:

[code]

I'm not sure why `@types/webpack` is a dependency and not a _dev_ dependency in [that project](https://github.com/johnagan/clean-webpack-plugin/blob/master/package.json#L80). If you're having t

[2021-02-19 16:56] sokra commented on #109
That's private.

But anyway if you do that call `hook._resetCompilation()` to update the generated code.

[2021-02-19 16:56] #109 closed

[2021-03-30 09:50] PoisonSnowFlying opened #158 "i use tapable singlely in my project,but in my webpack,"node_modules" folders has no compile."
does this library have ES5 version

[2021-03-31 11:28] alexander-akait commented on #158
What is the error?

[2021-04-02 13:00] PoisonSnowFlying commented on #158
the compiled code for online env. in some lower version browser,make some mistakes.so i need the compiled tapable code

[2021-04-02 13:01] alexander-akait commented on #158
sorry, it is impossible, we don't support outdated browsers for this package

[2021-04-02 13:03] PoisonSnowFlying commented on #158
OK, I understood this problem now, so  I wrote an asynchronous waterfall flow control method. but  still thanks!

[2021-04-12 14:23] Shinyaigeek commented on #152
I'm facing the same issue.
any progress on this issue? If you don't mind, I would like to pick this issue.

[2021-04-14 14:35] Shinyaigeek commented on #152
I'm wondering whether `hooks.[hookname].taps` property should be public.
`hooks.[hookname].taps` seems to be private value used only in tapable’s inner process. (refering to `hooks.[hookname].taps` does not exist in also tapable's README, not only in type definitions)

In code in screenshots, `hooks.[hookname].taps` is accessed in order to copy A Hook’s taps into B Hook. in my opinion, it is bette

[2021-04-24 21:43] watjurk opened #159 "AsyncHook in types"
`AsyncHook` is declared in types but not exported by lib, this leads to types errors when trying to instantiate new AsyncHook.

[code]
I would propose remove `AsyncHook` from `tapable.d.ts` because it's misleading.
Thanks!

[2021-04-26 12:51] alexander-akait commented on #159
`TypeError` is not related to types, you have wrong code

[2021-04-26 13:10] watjurk commented on #159
I believe that's not true.
`AsyncHook` is declared by `tapable.d.ts` and when compiling code like this:
[code]
Typescript throws no error, but at runtime module `tapable` does not export `AsyncHook` and we get `TypeError`.
We are declaring `AsyncHook` in the types so typescript compiles no problem but when we try to run it there is no `AsyncHook` exported by `tapable`. Do you see the problem now?

[2021-04-26 13:20] alexander-akait commented on #159
There is not `AsyncHook` export, check it https://github.com/webpack/tapable/blob/master/tapable.d.ts

[2021-04-26 13:34] watjurk commented on #159
Oh you are right. There seams to be some "feature" of typescript which automatically exports declared stuff. The only "workaroud" I've found is to declare the "private" types in separate file and then import them in `tapable.d.ts`.

[2021-04-26 13:39] alexander-akait commented on #159
Why you need `AsyncHook`?

[2021-04-26 13:52] watjurk commented on #159
No I don't need it, I meant that the fact that I'm able to import it (at least it types) from `tapable` is very confusing.

[2021-05-26 19:11] #158 closed

[2021-05-26 19:12] alexander-akait commented on #110
I think we can close, feel free to feedback

[2021-05-26 19:12] #110 closed

[2021-05-26 19:13] alexander-akait commented on #146
Fixed

[2021-05-26 19:13] #146 closed

[2021-09-01 15:41] lizuncong opened #160 "May I ask some question?"
Why use new Function to execute the callback function instead of directly? What is the purpose of doing so? I am very interested in the source code.Thank you

[2021-09-01 15:54] #160 closed

[2021-09-10 10:31] lizuncong opened #162 "Is the new Function performance really good?"
I simply implemented a MySyncHook, and then traversed the callback function directly in the call method, and printed the execution time. At the same time, I used tapable's official SyncHook to execute the same logic, and found that the execution time of tapable's SyncHook was dozens of times longer than my own. Could anyone please help me answer.
![1631269588(1)](https://user-images.githubusercont

[2021-09-13 07:14] #152 closed

[2021-09-13 07:15] sokra commented on #162
Try to call the tap many many times

[2021-09-13 07:42] lizuncong commented on #162
First of all thank you for your reply. I try to call the callback 10,000 times, and the result is that the official tapable synchook execution time is still dozens of times longer than I wrote. Does this mean that the method of dynamically generating the function body through new Function is not suitable? Finally, here are some tapable hooks I wrote myself. I tested that the execution time of thes

[2021-09-13 07:51] lizuncong commented on #162
@sokra I just called the tap 10,000 times，and found that the official tapable sync hook took almost 60ms, while my synchook took
0.8ms.

[2021-09-13 09:45] lizuncong opened #163 "Is it a BUG? callback of tapAsync not work in AsyncSeriesLoopHook"
[code]

![image](https://user-images.githubusercontent.com/14917591/133062044-02bef89c-8c8a-4a76-9ab2-e6d88c5dd3fe.png)

Expect:

when execute cb(count3) and the count3 is not undefined，the hook should restart from the first plugin

[2021-09-13 09:46] sokra commented on #162
Try to call `call` multiple times. That's what happens in practice. Registering 10000 plugins it unlikely, but the plugin handler could be called 10000 times (e. g. hooks in the javascript parser are called for every statement)

[2021-09-13 09:51] sokra commented on #163
You might want to change `cb(count3)` to `cb(null, count3)` because the first argument is an `Error` argument, which cancels the execution and reports an error

[2021-09-13 09:59] lizuncong commented on #163
oh yes，thank you for your reply

[2021-09-13 10:00] #163 closed

[2021-09-13 14:42] lizuncong commented on #162
@sokra I think it should be the new version of nodejs that has been optimized, and the performance is better than the function body dynamically generated by new Function.

[2021-09-14 12:33] xiaoxiaojx commented on #162
The number of calls in the above code is set to 100 0000 times, and the conclusion is correct，new Function performance is faster ！！！

![image](https://user-images.githubusercontent.com/23253540/133257888-8e790eab-79bf-448f-b6fb-9ce6405eaa7b.png)

[2021-09-14 13:05] lizuncong commented on #162
I just tried it. When the number of calls is more than 17000 times, the efficiency of tapable does to be faster !  But in what scenarios will the `call` be called so many times

![image](https://user-images.githubusercontent.com/14917591/133262762-d6d95560-150e-4af6-a7f5-19b87291206c.png)

![image](https://user-images.githubusercontent.com/14917591/133262670-de083776-13bd-472d-baa1-97098773ee12.pn

[2021-09-15 02:57] lizuncong commented on #162
`const { SyncHook } = require('tapable')
const CALL_DELEGATE = function(...args){
  this.call = this._createCall(); // The function is dynamically generated when it is called for the first time
  return this.call(...args)
}
class MySyncHook{
  constructor(argNames){
    this.argNames = argNames;
    this.tasks = []
    // this._call = CALL_DELEGATE;
    this.call = CALL_DELEGATE;
  }

  tap(plugin

[2021-09-15 10:24] sokra commented on #162
One major difference it that you pay the compilation cost only on the first compilation and each following compilation is fast after that. tapable also optimizes for the polymorphic case, so different plugins added and mulitple hooks used. The `new Function` approach allows v8 to optimize the `call` method for the compilation of plugins added and even allows to inline plugin functions into the gen

[2021-09-15 11:00] lizuncong commented on #162
wow, you are so nice and patient. Thank you! My last question is, why not reset this.call with CALL_DELEGATE , but use  this._call. such as
`
_resetCompilation() {
		this.call = CALL_DELEGATE ;
		this.callAsync = CALL_ASYNC_DELEGATE;
		this.promise = PROMISE_DELEGATE;
}
`

[2021-11-27 07:28] hardfist opened #164 "is there an way to intercept waterfall hook result ?"
I want to interceptor waterfall result, but it seems no way to do that.

[2021-12-07 08:57] 19Qingfeng opened #167 "Why not put _resetCompilation in this.call"
![image](https://user-images.githubusercontent.com/31119562/144997562-d3a52e9b-7737-493f-8e6c-555a881f608e.png)

I think it’s better to reset and compile every time call is called.

Generally speaking, there will be many taps  but only one call.

If possible, I am willing to submit for it  a pr.

[2022-01-04 15:12] Rulexec opened #168 ".tap() `before` parameter do not respects existing befores"
Hello. I have three plugins:

- `A` depends on `B`
- `B` depends on `C`
- `C`

They tap some hook with same `stage` in the following order:

- `A, B, C`

Then inside https://github.com/webpack/tapable/blob/9d647f86ddb2930c6e24950a1edd2778453e92a1/lib/Hook.js#L136 they got position incorrectly as:

- `B, A, C`

It happens because current logic looks like:

- Adding `A`, no taps, just add
- Adding `

[2022-01-04 15:19] Rulexec commented on #168
Also it's will be good to throw exception if circular dependency is detected.

[2022-01-13 08:49] xryshirfxn opened #169 "TS Error"
Hello.
First of all, I just wanted to say this is a nice library. Unfortunately sadly, it was wrongly typed.

I was testing out this library (with TS) and it produces the following error:
[code]
Code:
[code]

[2022-01-13 09:07] xryshirfxn commented on #169
https://github.com/webpack/tapable/blob/a0a7b26224557bd8bb09b97e0126b7dbda9f8e6a/tapable.d.ts#L59
Maybe adding a `string[]` should help here?
I'm not sure how it works internally but according to the example, it should work.

[2022-01-13 09:09] xryshirfxn commented on #169
[code]

[2022-01-13 10:44] xryshirfxn commented on #169
Actually, I think in this context (and some other context), `ArgumentNames<AsArray<T>>` is not needed. Instead, use `string[]`. I'll submit a PR when I have time.

[2022-01-26 23:32] #169 closed

[2022-02-15 00:45] adierkens opened #171 "`context` property for interceptor is un-typed"
The TS types for`.intercept()` doesn't include the `context` option, or the appropriate args in the subsequent `call`/`tap` handlers.

[2022-03-30 12:13] pvvrzv commented on #167
It only makes sense to reset compilation after a tap or an interceptor were added. Otherwise you will recompile your call function on every hook.call() which is meaningless if the taps and the interceptors of a hook are still the same. And in most cases there are fewer taps compared to calls.

[2022-04-29 14:06] sneko commented on #10
@maximandrews where do you stand with this issue?

I'm having a webpack plugin doing:
[code]

But the callback is randomly called... I suspect something that is silent (because retrying with exact same code and it's so random). I hope to find the issue :)

[2022-05-05 12:51] vjpr opened #174 "Re-order hooks"
What is the best way to re-order hooks. I have a hook I want to run last. Should it be done with intercept and register?

[2022-08-04 17:07] peakchen90 opened #176 "[Bug] Async hook doesn't catch error when reject a falsy value"
Hi, I seem to have found a bug:

### Environment
- Tapable: v2.2.1
- Node: v16.16.0
- OS: MacOS 12.5

### Case

[code]

**Expected output**: `Error: 0`

**But the actual output**: `Success`

[2022-08-10 11:57] alexander-akait commented on #176
Hm, why you pass `0` in `reject`?

[2022-08-10 12:37] peakchen90 commented on #176
This is just an example, my real case is: `Project.reject()` , reject a `undefined`

[2022-08-10 12:47] alexander-akait commented on #176
Can you try to use `Promise.reject(new Error("test"))`?

[2022-08-10 13:36] peakchen90 commented on #176
Of course, I can somehow ignore this case, but I think this can be made more robust. I don't use hooks directly, and I expose them to others, so I have to fix. Below shows how I fixed it. and I hope the official can fix it

[code]

[2022-08-10 13:53] alexander-akait commented on #176
hm, looks good, feel free to send a PR

[2022-09-01 17:26] TomSssM commented on #53
The reason this issue happens is that webpack4 is somewhat an old library already and it depends on older version of `tapable@1.x.x` (and `tapable@1.x.x` doesn't have its own typings thus there is a `./node_modules/@types/tapable` package installed). Most npm packages today depend on newer version of `tapable@2.x.x` which ships with its own typings. The problem happens when inside `@types/webpack`

[2022-10-10 11:28] Solo-steven commented on #176
Hi, I would like to take this issue !!

[2022-10-10 12:16] malcolm-kee commented on #49
I've created a simplified version of `tapable` so it's easier to understand the behavior for each hook: https://github.com/malcolm-kee/naive-tapable.

It's still a WIP as I have not implemented interceptor and object options, but should be good enough if you want to figure out what each hook do.